[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jhubctl = {editable = true, path = "."}
ipython = "*"
click-log = "*"
traitlets = "*"
tqdm = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.7"
